:root {
    --jumbotron-padding-y: 5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
      font-size: 5rem;
  }

  h2 {
      text-align: center;
      padding-bottom: 2rem;
  }

  .navbar {
      background: darkgreen;
  }

  .row {
      max-width: 100%;
  }

  .lang {
      text-align: center;
  }

  .skill {
      text-align: left;
      padding-top: 3rem;
      padding-left: 5rem;
      padding-right: 5rem;
  }

  .interest {
      padding-left: 5rem;
      padding-right: 5rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 2rem;
  }
  
  .jumbotron-heading {
    font-weight: 400;
  }
  
  .jumbotron .container {
    max-width: 60rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  .card {
      margin-bottom: 1rem;
  }
